<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="nominazarco.Properties.Settings.floreriaConnectionString1"
            connectionString="Data Source=DESKTOP-EAGK18V\\SQLEXPRESS;Initial Catalog=floreria;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>